css

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*height: 100vh;*/
  background: #F5F5F5;;
  
}

/* intro */
#intro_container{
}

#introduction{
  background-color: #E9E9E9; 
  margin-top: 8.5vh;
  position: relative;
}

.deco_triangle {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

#triangle1{
  right: 0;
  top: 0;
  border-width: 0 30px 30px 0;
  border-color: transparent #a3cdf2 transparent transparent;
  
}

#triangle2{
  left: 0;
  bottom: 0;
  border-width: 30px 0px 0px 30px;
  border-color: transparent transparent transparent #a3cdf2;
}

#intro_text {
  justify-content: center;
  text-align: left;
}

#intro_image {
  width: 30vw;
}

#introduction{
  text-align: center;
}

.logo_link{
  width: 5vw;
  max-width: 40px;
  margin: 10px; /* Add some spacing between logo links if needed */
  text-decoration: none;
}

.logo_link:hover{
  box-shadow: 0px 5px 10px 5px rgb(255, 255, 255);
}

#logo_links {
  text-align: left;
}

#resume_embed{
  padding-top:10vh;
  width: 100vw;
  height: 100vh;
}

.color_line{
  /*width: 100%; 
  border-bottom: 1vh solid #a3cdf2;*/
}

#cl1{
  
}



/* projects */
#projects_title{
  /*background-color: #a3cdf2;*/
}

#card_container1, #card_container2, #card_container3, #card_container4{
  width: 45vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

.card{
  height: 100%; /* relative to card_container */
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d; /* treats like 3d object: can flip */
  margin-top: 4vh;
}

.card_front, .card_back{
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px 2px #2a384547;
  position: absolute;
  backface-visibility: hidden;
}

.card_front{
  /*background-image: url("images/beepbeep.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: #F5F5F5;
  text-align: center;
  /* move image to top */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.card_back{
  background-color: #F5F5F5;
  transform: rotateY(180deg); /* start with back rotated away */
  padding: 1vw;
  font-size: small;
}

.card_img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#card_container1:hover > .card{ /* hover over the container -> effects happen to .card (more smooth)*/
  cursor: pointer;
  transform: rotateY(180deg);
}

#card_container2:hover > .card{ /* hover over the container -> effects happen to .card (more smooth)*/
  cursor: pointer;
  transform: rotateY(180deg);
}

#card_container3:hover > .card{ /* hover over the container -> effects happen to .card (more smooth)*/
  cursor: pointer;
  transform: rotateY(180deg);
}

#card_container4:hover > .card{ /* hover over the container -> effects happen to .card (more smooth)*/
  cursor: pointer;
  transform: rotateY(180deg);
}


/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and under)*/
@media (max-width: 576px) {

}

/* Medium devices (tablets, 768px and under)*/
@media (max-width: 768px) {
    /* Center-align text in intro for small screens */
  #intro_text {
    text-align: center;
  }

  #intro_image {
    width: 50vw;
  }

  #logo_links {
    text-align: center;
    justify-self: center;
  }

  #card_container1, #card_container2, #card_container3, #card_container4{
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
  }
}

/* Large devices (desktops, 992px and under)*/
@media (max-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and under)*/
@media (max-width: 1200px) {

}
